.login-container{
    background: #2069C5;
    display: flex;
    justify-content: center;
    align-items:center;
}

.login-sections-container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: absolute;
}

.login-left-section, .login-right-section{
    width: 400px;
    height: 550px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-left-section-title, .login-right-section-title {
    color: #000000;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'Calibri','Arial';
    font-weight: bold;
}

.login-left-section-image-container {
    width: 240px;
    height: 220px;
    margin: 0px 0px 35px 0px;
}
.login-right-section-image-container {
    width: 290px;
    height: 300px;
    margin: -25px 0px 0px 0px;
}

.login-right-section-image, .login-left-section-image {
    width: 100%;
}

.login-left-section-text, .login-right-section-text {
    width: 325px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Calibri', 'Arial';
}

.login-sections-link {
    text-decoration: none;
    color: #000000;
}