.results-by-stage-container{
    display: flex;
    justify-content: center;
}

.results-by-stage-section {
    width: 1000px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

/* Top section */
.results-by-stage-title-box{
    display: flex;
    height: 60px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.results-by-stage-title-text{
    color: #000000;
    text-align: left;
    font-size: 38px;   
    font-weight: bold;
    margin-left: 15px;
}

.results-by-stage-title-x {
    font-size: 40px;
    font-weight: bold;
    margin-right: 30px;
    cursor: pointer;
}

/* Line */
.line{
    background-color: #626262;
    width:100%;
    height:2px;
    margin-top: -5px;
    margin-bottom: 10px;
}

/* Top row */
.results-by-stage-main-table-row{
    display: table;
    width: 98%;
    height: 60px;
    background-color: #2c6ae5;
    color: white;
    border-radius: 15px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: default;
}

.results-by-stage-main-table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 1050px) {
    .results-by-stage-section {
        width: 600px;
    }
    
    /* Top section */
    
    .results-by-stage-title-text{
        font-size: 35px;   
    }
    
    /* Top row */
    .results-by-stage-main-table-row{
        font-size: 22px;
    }
}

@media (max-width: 650px) {
    .results-by-stage-section {
        width: 370px;
    }
    
    /* Top section */

    .results-by-stage-title-box{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .results-by-stage-title-text{
        font-size: 23px;   
    }

    .results-by-stage-title-x {
        font-size: 30px;
    }
    
    /* Top row */
    .results-by-stage-main-table-row{
        font-size: 18px;
    }
}