/* Login */

.learner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learner-login-section{
    width: 400px;
    height: 550px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
    margin-bottom: 50px;
}

.learner-login-section-title {
    color: #000000;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 40px;  
    font-weight: bold;
}

.learner-login-form {
    width: 80%;
}

.learner-login-submit-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.learner-login-submit-button {
    width: 200px;
}

.learner-login-submit-text {
    margin-top: 20px;
    text-align: center;
}

.learner-login-submit-text-link {
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.learner-login-submit-text-link:hover {
    color: #0d6efd;
}


/* Sign Up */

.learner-sign-up-main-section{
    width: 900px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items:left;
}

.learner-sign-up-big-section{
    width: 900px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.learner-sign-up-left-section{
    width: 450px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learner-sign-up-right-section{
    width: 450px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learner-sign-up-section-title {
    color: #000000;
    text-align:left;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 40px;
    font-size: 40px;
    font-weight: bold;
}

.learner-sign-up-form {
    width: 80%;
}


.learner-sign-up-submit-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.learner-sign-up-submit-button {
    width: 200px;
}

.learner-sign-up-submit-text {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.learner-sign-up-submit-text-link {
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.learner-sign-up-submit-text-link:hover {
    color: #0d6efd;
}

.learner-required-text{
    color: red;
    font-size: 20px;
    font-style:italic;
    display: inline-block;
}

/* Login media queries */

@media (max-width: 1100px) {
    .learner-login-section {
        margin-top: 30px;
    }
}

@media (max-width: 450px) {
    .learner-login-section {
        width: 300px;
        height: 550px;
    }
}

/* Sign up media queries */

@media (max-width: 1600px) { 
    .learner-sign-up-main-section {
        margin-top: 30px;
    }
}

@media (max-width: 1000px) {
    .learner-sign-up-main-section{
        width: 450px;
        height: 910px;
        align-items:center;
        margin-bottom: 40px;
    }
    
    .learner-sign-up-big-section{
        width: 450px;
        flex-direction: column;
        justify-content: flex-start;
    }    
}

@media (max-width: 500px) {
    .learner-sign-up-main-section{
        width: 350px;
    }

    .learner-sign-up-left-section{
        width: 350px;
    }
    
    .learner-sign-up-right-section{
        width: 350px;
    }

    .learner-sign-up-section-title {
        margin-left: 0;
        font-size: 35px;
    }
}