.Admin-box {
    background-color: white;
    height: 100px;
    width: 1170px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: black solid;
    margin-bottom: 5px;
}

.Admin-table-row {
    display: table;
    width: 98%;
    height: 50px;
    border-radius: 15px;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.Admin-table-cell {
    display: table-cell;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    max-width: 50px;
}

.admin-button {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

@media (max-width: 1250px) {
    .Admin-box {
        width: 680px;
        height: 85px;
    }

    .Admin-table-row {
        font-size: 21px;
    }
}

@media (max-width: 750px) {
    .Admin-box {
        width: 350px;
        height: 65px;
    }

    .Admin-table-row {
        font-size: 12px;
    }

    .admin-button {
        position: relative;
        width: 25px;
        height: 25px;
        margin: 0 2px;
    }

    .icon-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25px;
        height: 25px;
    }
}