.logo{
    background-color: white;
    height:110px;
    width: 300px;
    border-radius: 15px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}

.logo-picture{
    height: 100px;
    width: 100px;

}

.logo-text{
    flex-direction: column;
    display:flex;
}

.logo-blue-text{
    color:#2195AE;
    text-align: center;
    font-size: 28px;
    font-family: 'Calibri','Arial';
    font-weight: bold;
}

.logo-red-text{
    color:#EE3A24;
    text-align: center;
    font-size: 28px;
    font-family: 'Calibri','Arial';
    font-weight: bold;
}