.stage-results-box-container {
    background-color: white;
    height: 100px;
    width: 980px;
    display:flex;
    align-items: center;
    border-radius: 15px;
    border: black solid;
    margin-bottom: 5px;
    cursor: pointer;
}

.stage-results-box-table-row {
    display: table;
    width: 98%;
    height: 50px;
    border-radius: 15px;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.stage-results-box-table-cell {
    display: table-cell;
    width: 20%;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 1050px) {
    .stage-results-box-container {
        height: 85px;
        width: 580px;
    }
    
    .stage-results-box-table-row {
        font-size: 21px;
    }
}

@media (max-width: 650px) {
    .stage-results-box-container {
        height: 65px;
        width: 350px;
    }
    
    .stage-results-box-table-row {
        font-size: 14px;
    }
}