/* Top section */

.top-section{
    width:100%;
    display:flex;
    justify-content: space-between;
}

.option-container{
    background-color:#555555;
    height: 110px;
    width: 1000px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.results-container{
    display:flex;
    align-items: center;
}

.results-text{
    color: white;
    text-align: center;
    font-size: 32px;
    font-family: 'Calibri','Arial';
    font-weight: bold;
}

.account-container{
    display:flex;
    align-items: center;
}

.account-text{
    color: white;
    text-align: center;
    font-size: 32px;
    font-family: 'Calibri','Arial';
    font-weight: bold;
}

/* Middle section */

.middle-section{
    width:100%;
    margin-top: 30px;
}

.middle-section-text{
    color: white;
    text-align: left;
    font-size: 32px;
    font-family: 'Calibri','Arial';
    font-weight: bold;
    margin-left: 10px;
}

.stages-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Bottom Section */

.bottom-section{
    width:100%;
    margin-top: 30px;
}

.bottom-section-text{
    color: white;
    text-align: left;
    font-size: 32px;
    font-family: 'Calibri','Arial';
    font-weight: bold;
    margin-left: 10px;
}

.bottom-section-boxes{
    display:flex;
    justify-content: space-between;
}

.left-box{
    background-color: white;
    height:130px;
    width: 720px;
    border-radius: 15px;
    display:flex;
    align-items: center;
    justify-content: left;
    margin: 10px;
}

.left-box-text{
    color: black;
    text-align: center;
    font-size: 42px;
    font-family: 'Calibri','Arial';
    font-weight: bold;
    margin-left: 30px;
}

.right-box{
    background-color: white;
    height:130px;
    width: 720px;
    border-radius: 15px;
    display:flex;
    align-items: center;
    justify-content: left;
    margin-right: 30px;
    margin: 10px;
}

.right-box-text{
    color: black;
    text-align: center;
    font-size: 42px;
    font-family: 'Calibri','Arial';
    font-weight: bold;
    margin-left: 30px;
}