.quiz-result-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.quiz-result-sections-container {
    width: 900px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    align-items: center;
    padding-bottom: 5px;
}

/* Title */
.quiz-result-title-box{
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    flex-direction: column;
}

.quiz-result-text{
    color: #000000;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
    margin-left: 15px;
}

.quiz-stage-text{
    color: #000000;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 20px;
}

/* Line */
.line{
    background-color: #626262;
    width:100%;
    height:2px;
    margin-top: -5px;
    margin-bottom: 10px;
}

/* Response */

.response-box{
    width: 90%;
    align-items: center;
    margin: 10px 0 10px 0;
}

.quiz-response-text{
    color: #000000;
    text-align: center;
    justify-content: center;
    font-size: 32px;
}

.return-button{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 28px !important;
    margin: 20px 0 20px 0;
}

@media (max-width: 950px) {
    .quiz-result-sections-container {
        width: 600px;
    }
    
    /* Title */
    .quiz-result-title-box{
        margin-top: 15px;
    }
    
    .quiz-result-text{
        font-size: 30px;
    }
    
    .quiz-stage-text{
        font-size: 35px;
        margin-bottom: 15px;
    }
    
    /* Response */
    
    .response-box{
        margin: 0 0 10px 0;
    }
    
    .quiz-response-text{
        font-size: 30px;
    }
    
    .return-button{
        margin: 15px 0 20px 0;
    }
}

@media (max-width: 650px) {
    .quiz-result-sections-container {
        width: 350px;
    }
    
    /* Title */

    .quiz-result-text{
        font-size: 27px;
        text-align: center;
        margin-left: 0;
    }
    
    .quiz-stage-text{
        font-size: 30px;
        text-align: center;
        margin-left: 0;
    }
    
    /* Response */
    
    .quiz-response-text{
        font-size: 27px;
    }
    
    .return-button{
        margin: 10px 0 20px 0;
        font-size: 26px !important;
    }
}