/* Login */

.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-login-section {
    width: 400px;
    height: 550px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
    margin-bottom: 50px;
}

.admin-login-section-title {
    color: #000000;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: bold;
}

.admin-login-form {
    width: 80%;
}

.admin-login-submit-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.admin-login-submit-button {
    width: 200px;
}

.admin-login-submit-text {
    margin-top: 20px;
    text-align: center;
}

.admin-login-submit-text-link {
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.admin-login-submit-text-link:hover {
    color: #0d6efd;
}

/* Sign up */

.admin-sign-up-main-section {
    width: 900px;
    height: 530px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: -50px;
    margin-bottom: 50px;
}

.admin-sign-up-big-section {
    width: 900px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-sign-up-left-section {
    width: 450px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-sign-up-right-section {
    width: 450px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-sign-up-section-title {
    color: #000000;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 15px;
    margin-left: 40px;
    font-size: 40px;
    font-weight: bold;
}

.admin-sign-up-form {
    width: 80%;
}

.admin-sign-up-submit-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.admin-sign-up-submit-button {
    width: 200px;
    margin-top: 10px;
}

.admin-sign-up-submit-text {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.admin-sign-up-submit-text-link {
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.admin-sign-up-submit-text-link:hover {
    color: #0d6efd;
}

.admin-required-text {
    color: red;
    font-size: 17px;
    display: inline-block;
}

/* Login media queries */

@media (max-width: 1100px) {
    .admin-login-section {
        margin-top: 30px;
    }
}

@media (max-width: 450px) {
    .admin-login-section {
        width: 300px;
        height: 550px;
    }
}

/* Sign up media queries */

@media (max-width: 1600px) { 
    .admin-sign-up-main-section {
        margin-top: 30px;
    }
}

@media (max-width: 1000px) {
    .admin-sign-up-main-section {
        width: 450px;
        height: 680px;
        align-items: center;
    }

    .admin-sign-up-big-section {
        width: 450px;
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 500px) {
    .admin-sign-up-main-section {
        width: 350px;
    }

    .admin-sign-up-left-section {
        width: 350px;
    }
    
    .admin-sign-up-right-section {
        width: 350px;
    }

    .admin-sign-up-section-title {
        margin-left: 0;
        font-size: 35px;
    }
}