.result-box {
    background-color: white;
    height: 100px;
    width: 980px;
    display:flex;
    align-items: center;
    border-radius: 15px;
    border: black solid;
    margin-bottom: 5px;
    cursor:default;
}

.result-box-table-row{
    display: table;
    width: 98%;
    height: 50px;
    border-radius: 15px;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.result-box-table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    border-right: 3px solid white;
    vertical-align: middle;
}

@media (max-width: 1050px) {
    .result-box {
        width: 580px;
        height: 85px;
    }
    
    .result-box-table-row{
        font-size: 21px;
    }
}

@media (max-width: 650px) {
    .result-box {
        width: 350px;
        height: 65px;
    }
    
    .result-box-table-row{
        font-size: 14px;
    }
}